*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 48px;
    font-weight: 700;
    color: #1B3147;
}
h3{
    font-size: 40px;
    font-weight: 700;
    color: #001931;
}
h4{
     font-size: 24px;
    font-weight: 600;
    color: #001931;
}
h5{
     font-size: 20px;
    font-weight: 500;
    color: #fff;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
header{
    padding: 16px 0;
    background-color: #fff;
}
.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-section ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    list-style-type: none;
}
.nav-section ul li{
    text-decoration: none;
}
.nav-section ul li a{
    color: #000;
    font-size: 16px;
    font-weight: 400;
}
.nav-section ul li a:hover{
    color: #30b868;
}
button{
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #30b868;
    border: 2px solid transparent;
    padding: 10px 14px;
    border-radius: 4px;
}
.nav-section button:hover{
    background-color: transparent;
    color: #30b868;
    border: 2px solid #30b868;
}

span{
    color: #30b868;
    display: block;
}
.banner-btn-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.banner-btn-parent button:hover{
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
}