*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.banner{
    background: url(../assets/images/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 115px 120px 180px;
}
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
    font-weight: 700;
    color: #1B3147;
}
h3{
    font-size: 30px;
    font-weight: 700;
    color: #001931;
}
h4{
    font-size: 20px;
    font-weight: 600;
    color: #001931;
}
h5{
     font-size: 18px;
    font-weight: 500;
    color: #fff;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
header{
    padding: 16px 0;
    background-color: #fff;
}
.nav-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-section ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    list-style-type: none;
}
.nav-section ul li{
    text-decoration: none;
}
.nav-section ul li a{
    color: #000;
    font-size: 16px;
    font-weight: 400;
}
.nav-section ul li a:hover{
    color: #469165;
}
button{
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background-color: #469165;
    border: 2px solid transparent;
    padding: 10px 14px;
    border-radius: 4px;
}
.nav-section button:hover{
    background-color: transparent;
    color: #469165;
    border: 2px solid #469165;
}
.banner-parent{
    max-width: 770px;
    margin: 0 auto;
}
.banner-access{
    display: flex;
    justify-content: center;
    gap: 6px;
    padding: 8px 12px;
    background-color: #fff;
    border-radius: 25px 25px;
    max-width: 230px;
    margin: 0 auto;
}
.banner-content{
    justify-content: center;
    align-items: center;
    margin: 16px 0 32px;
}
.banner-content h1{
    margin: 0 auto;
    text-align: center;
    color: #fff;
}
span{
    color: #30b868;
    display: block;
}
.banner-content p{
    color: #E4E6E7;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    max-width: 700px;
    margin: 16px auto 0;
}
.banner-btn-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.banner-btn-parent button:hover{
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
}
.card{
    background-color: #FBFBFB ;
    padding: 70px 0 120px;
}
.section-header{
    text-align: center;
}
.section-header p{
    margin: 5px 0 40px;
}
.card-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.card-item{
    background-color: #fff;
    max-width: 300px;
    height: 320px;
}
.card-item:hover{
    box-shadow: 0px 5px 30px 2px #d6d9dc;
}
.card-wrap{
    padding: 70px 24px;
}
.card-wrap p{
    text-align: center;
}
.card-wrap h4{
    text-align: center;
    margin: 16px 0;
}
.card-thumb{
    background-color: #F95555;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.solution{
    padding: 120px 0;
}
.solution-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.solution-thumb img{
    height: 600px;
    max-width: 600px;
}
.solution-content h6{
    color: #30b868;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}
.solution-content h2{
    margin: 10px 0 16px;
}
.solution-content p{
    margin: 0 0 30px;
}
.solution-list{
    list-style-type: none;
    text-decoration: none;
}
.shomadhan{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}
.challange .section-header{
    max-width: 600px;
    margin: 0 auto;
}
.challange{
    background-color: #F7F6F2;
    padding: 80px 0;
}
.challange .section-header p{
    margin: 10px 0 24px;
}
.challange-main{
    text-align: center;
}
.challange-main button{
    margin-bottom: 16px;
}
.challange-main button:hover{
    background-color: transparent;
    color: #469165;
    border: 2px solid #469165;
}